body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.calc {
  width: 1140px;
  margin: 100px 200px;

  &-name {
    font-size: 32px;
    text-align: center;
  }

  &-sections {
    display: flex;
    justify-content: space-between;
  }

  &-section {
    &-mat {
      flex: 2;
    }

    &:not(:first-child) {
      flex: 1;
      margin-left: 30px;
    }

    &__name {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      background: #f2f3f7;
      padding: 14px 0;
    }

    &__container {
      display: flex;
      justify-content: space-between;
    }

    &__box {
      flex: 1;

      &:not(:first-child) {
        margin-left: 55px;
      }

      &-name {
        font-size: 16px;
        font-weight: bold;
      }

      &-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-input {
          display: none;

          & + label {
            font-size: 16px;
            border: 1.5px solid #f2f3f7;
            box-sizing: border-box;
            padding: 10px 0;
            text-align: center;
            flex: 1;
            margin-bottom: 10px;
            flex-basis: 49%;
            max-width: 49%;
            cursor: pointer;
          }

          &:checked + label {
            color: #fff;
            background-color: #cc0033;
            border-color: #cc0033;
          }
        }
      }

      &-count {
        width: 150px;
        margin: 0 0 0 70px;

        &:not(:last-child) {
          margin-top: 35px;
        }

        &-minus,
        &-plus {
          display: inline-block;
          font-size: 22px;
          font-weight: bold;
          cursor: pointer;
          text-align: center;
          width: 40px;
          height: 40px;
          line-height: 40px;

          background: #f2f3f7;

          &:hover {
            background: #adb0bb;
          }
        }

        &-counter {
          display: inline-block;
          font-size: 22px;
          cursor: pointer;
          text-align: center;
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  &-info {
    margin-top: 40px;
    font-size: 16px;
    text-align: center;

    &__red {
      color: #cc0033;
    }
  }

  &-total {
    margin-top: 35px;
    background: #f2f3f7;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    text-align: center;

    &__price {
      font-size: 24px;

      &-text {
        text-align: center;
        margin: 0;
        padding-top: 10px;
      }
      &-num {
        margin-left: 10px;
        font-weight: bold;
      }
    }

    &__order {
      &-tel {
        border: none;
        border-radius: 5px;
        padding: 15px 0 15px 15px;
        font-size: 16px;

        &::-webkit-input-placeholder {
          color: #a8a8a8;
        }
      }

      &-button {
        font-size: 16px;
        background: #ffd200;
        border: none;
        border-radius: 5px;
        padding: 15px 20px;

        &:hover {
          background: #cca90b;
          cursor: pointer;
        }
      }
    }
  }
}
